li {
    list-style-type: circle;
}

li::marker{
    font-size: 1.5rem;
    color: rgba(180, 180, 180, 0.8);
    text-align: center;
}

.header_line {
    display: flex;
    justify-content: flex-start;
    padding: 40px 0 20px 40px;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    animation-duration: 1s;
    position: relative;
}

.header_line::after {
    content: '';
    background-color: rgba(180, 180, 180, 0.2);
    height: 1px;
    width: 15rem;
    animation-duration: 1.5s;
    position: absolute;
    bottom: 0;
}

.divider {
    background-color: rgba(180, 180, 180, 0.3);
    height: 1px;
    width: 90%;
    animation-duration: 1.5s;
    margin: auto;
}

.project_tile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.page_heading {
    font-weight: bold;
    font-size: 2rem;
    padding: 20px 0 20px 40px;
}

.project_headings {
    font-weight: bold;
    font-size: 1rem;
    padding: 0 0 0 60px;
}

.project_summary {
    font-weight: normal;
    font-size: 0.8rem;
    font-style: italic;
    opacity: 0.8;
    padding-top: 5px;
}

.project_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0 20px 0;
}

.project_row:hover {
    background-color: rgba(180, 180, 180, 0.02);
}

.project_info_column {
    font-size: 1.1rem;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.logos {
    padding: 0 40px 0 0;
    height: 24px;
}

.tech_logos {
    padding: 0 15px 0 0;
    height: 1.2rem;
}

.tech_logos_container {
    position: relative;
}

.tech_logos_container::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-110%) translateX(-1rem);
    color: #fff;
    padding: 10px;
    border-radius: 1rem;
    background-color: black;
    font-size: 0.8rem;
    width: max-content;
    scale: 0 0;
}

.tech_logos_container:hover::after {
    scale: 1 1;
    transition: scale 0.2s ease-in-out;
}

.logos:hover{
    height: 30px;
}

.test_code_logo {
    padding: 0 40px 0 0;
}

.project_technologies_header {
    font-size: 0.8rem;
    padding: 20px 0 10px 0;
}
