li {
    list-style-type: circle;
}

li::marker{
    font-size: 1.5rem;
    color: rgba(180, 180, 180, 0.8);
    text-align: center;
}

.header_line {
    display: flex;
    justify-content: flex-start;
    padding: 40px 0 20px 40px;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    animation-duration: 1s;
    position: relative;
}

.header_line::after {
    content: '';
    background-color: rgba(180, 180, 180, 0.2);
    height: 1px;
    width: 15rem;
    animation-duration: 1.5s;
    position: absolute;
    bottom: 0;
}

.divider {
    background-color: rgba(180, 180, 180, 0.3);
    height: 1px;
    width: 90%;
    animation-duration: 1.5s;
    margin: auto;
}

.project_tile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.page_heading {
    font-family: "Alegreya";
    font-size: 2rem;
    padding: 20px 0 20px 60px;
}

.project_headings {
    font-weight: bold;
    font-size: 1rem;
    padding: 0 0 0 60px;
}

.project_summary {
    font-family: "Hind";
    font-weight: normal;
    font-size: 0.85rem;
    line-height: 1.2rem;
    font-style: italic;
    opacity: 0.8;
    padding-top: 5px;
}

.project_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0 20px 0;
    justify-content: center;
    max-width: calc(100% - 60px);
    font-family: "Rubik";
    font-weight: 500;
}

.project_row:hover {
    background-color: rgba(180, 180, 180, 0.02);
}


.project_info_column {
    font-size: 1.1rem;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: calc(100% - 80px);
}

.logos {
    padding: 0 40px 0 0;
    height: 24px;
    cursor: pointer;
}

.project_row_link_logos {
    display: flex;
    flex-direction: row;
}

.tech_logos {
    padding: 0 15px 0 0;
    height: 1.2rem;
}

.tech_logos_container {
    position: relative;
}

.tech_logos_container::after {
    content: attr(data-tooltip);
    position: absolute;
    transform-origin: center;
    left: 50%;
    top: 0;
    transform: translateY(-110%) translateX(-50%);
    color: #fff;
    padding: 10px;
    border-radius: 1rem;
    background-color: black;
    font-size: 0.8rem;
    width: max-content;
    scale: 0 0;
}

.tech_logos_container:hover::after {
    scale: 1 1;
    transition: scale 0.2s ease-in-out;
}

.logos:hover{
    height: 30px;
}

.project_technologies_header {
    font-family: "Rubik";
    font-size: 1rem;
    padding: 20px 0 10px 0;
}

.code_logo {
    position: relative;
}

.code_logo::before {
    position: absolute;
    padding-right: 40px;
    left: 50%;
    top: 0;
    width: max-content;
    font-weight: 400;
    font-size: 0.8rem;
    color: rgba(180, 180, 180, 0.8);
    content: "Project Demo";
    border-radius: 2rem;
    transform: translateX(-50%);
    scale: 1 0;
}

.code_logo:hover::before {
    scale: 1 1;
    transform: translateY(-130%) translateX(-50%);
    transition: scale 0.1s ease-in-out;
}

@media (max-width: 900px) {
    .project_row {
        flex-direction: column;
        align-items: flex-start;
    }

    .project_row_link_logos {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-left: 2rem;
    }
}

