.heading {
    margin: 0;
    margin-left: 60px;
    padding-bottom: 10px;
    animation-duration: 1s;
}

.delay_subtext {
    animation-duration: 1.3s;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.expanding_divider {
    background-color: rgba(180, 180, 180, 0.2);
    width: 70%;
    height: 1px;
    animation-duration: 1.5s;
    margin: auto;
    margin-top: 20px;
}
