@property --gradient-angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.top_section {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.parah_text {
    font-family: 'Poppins';
    text-align: center;
    font-size: 3rem;
    width: 69%;
    animation-duration: 5s;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (width < 768px) {
    .contact_image{
        display: none;
    }
    .image_container{
        display: none;
    }
}

@media (width > 768px) {
    .contact_image {
        position: relative;
        height: 10rem;
        border-radius: 50%;
        aspect-ratio: 1/1;
    }

    .image_container {
        position: relative;
        border-radius: 50%;
        margin-left: 100px;
        margin-right: 15%;
        aspect-ratio: 1/1;
    }

    .image_container::after,
    .image_container::before
    {
        content: "";
        position: absolute;
        border-radius: inherit;
        width: 105%;
        aspect-ratio: 1/1;
        inset: 0;
        transform-origin: center;
        background-image: conic-gradient(from var(--gradient-angle), #ff1cdd, #2c04de);
        transform: translateX(-2.5%) translateY(-2.5%);
        animation: rotate-gradient 10s linear infinite;
        z-index: -1;
    }

    .image_container::before{
        filter: blur(3rem);
        transform: translateX(-12.5%) translateY(-12.5%);
        animation:
            rotate-gradient 10s linear infinite,
            pulse 3s alternate infinite;
        ;
    }

    @keyframes rotate-gradient {
        0% {
            --gradient-angle: 0deg;
        }
        100% {
            --gradient-angle: 360deg;
        }
    }

    @keyframes pulse {
        0% {
            width: 130%;
            height: 130%;
            transform: translateX(-12.5%) translateY(-12.5%);
        }
        100% {
            width: 150%;
            height: 150%;
            transform: translateX(-17.5%) translateY(-17.5%);
        }
    }

}

.italics {
    font-style: italic;
}

.small1 {
    font-size: 1.5rem;
    font-weight: 200;
}

.ht {
    font-family: 'Roboto';
    font-size: 5rem;
    font-weight: bold;
    text-align: left;
    margin: 0;
    animation-name: slide-in-left;
    animation-duration: 1s;
}

.ht2{
    font-size: 3rem;
    animation-duration: 1.25s;
}

.header_div {
    margin: 5% 0% 5% 8%;
    margin-right: auto;
}

.expanding_divider {
    background-color: rgba(180, 180, 180, 0.2);
    width: 70%;
    height: 1px;
    animation-duration: 1.5s;
}

.contact_me_title {
    height: 10vh;
    font-size: 2rem;
    font-family: 'Rubik';
    display: flex;
    justify-content: center;
    align-items: center;
}
