
@property --gradient-angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.parah_text {
    text-align: center;
    font-size: 2.5vw;
    width: 69%;
    animation-duration: 5s;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (width < 768px) {
    .contact_image{
        display: none;
    }
    .image_container{
        display: none;
    }
}

@media (width > 768px) {
    .contact_image {
        position: relative;
        height: 10rem;
        border-radius: 50%;
    }

    .image_container {
        position: relative;
        border-radius: 50%;
        margin-left: 100px;
        margin-right: 15%;
        aspect-ratio: 1/1;
    }

    .image_container::after,
    .image_container::before
    {
        content: "";
        position: absolute;
        border-radius: inherit;
        width: 104%;
        inset: 0;
        transform-origin: center;
        background-image: conic-gradient(from var(--gradient-angle), #ff1cdd, #2c04de);
        filter: blur(3px);
        transform: translateX(-1.5%) translateY(-1.5%);
        animation: rotate-gradient 10s linear infinite;
        z-index: -1;
    }

    .image_container::before{
        filter: blur(3rem);
    }

    @keyframes rotate-gradient {
        0% {
            --gradient-angle: 0deg;
        }
        100% {
            --gradient-angle: 360deg;
        }
    }

}

.italics {
    font-style: italic;
}

.small1 {
    font-size: 1rem;
}

.ht {
    font-size: 5rem;
    font-weight: bold;
    text-align: left;
    margin: 0;
    animation-name: slide-in-left;
    animation-duration: 1s;
}

.ht2{
    font-size: 3rem;
    animation-duration: 1.25s;
}

.header_div {
    margin: 5% 0% 5% 8%;
    margin-right: auto;
}

.expanding_divider {
    background-color: rgba(180, 180, 180, 0.2);
    width: 70%;
    height: 1px;
    animation-duration: 1.5s;
}


@media (orientation: portrait) and (max-width : 768px) {
    .ht {
        font-size: 2.25rem;
    }
    .ht2 {
        font-size: 1.5rem;
    }
}
