@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter','Roboto',  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    background-color: black;
    color: white;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

:root{
    --text: #ebebeb;
    --background: #121212;
    --primary-button: #158abc;
    --secondary-button: #fdf7f7;
    --accent: #ff40ff;
    --accent2: #2c04de;
}
